<tt>
<% if @game.failed_letters.length == 0 %>
  &nbsp;&nbsp;&nbsp;+--+<br>
  &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;|<br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|<br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|<br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|<br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|<br>
  &nbsp;=======<br>
<% elsif @game.failed_letters.length == 1%>
  &nbsp;&nbsp;&nbsp;+--+<br>
  &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;|<br>
  &nbsp;&nbsp;&nbsp;O&nbsp;&nbsp;|<br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|<br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|<br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|<br>
  &nbsp;=======<br>
<% elsif @game.failed_letters.length == 2%>
  &nbsp;&nbsp;&nbsp;+--+<br>
  &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;|<br>
  &nbsp;&nbsp;&nbsp;O&nbsp;&nbsp;|<br>
  &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;|<br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|<br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|<br>
  &nbsp;=======<br>
<% elsif @game.failed_letters.length == 3%>
  &nbsp;&nbsp;&nbsp;+--+<br>
  &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;|<br>
  &nbsp;&nbsp;&nbsp;O&nbsp;&nbsp;|<br>
  &nbsp;&nbsp;/|&nbsp;&nbsp;|<br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|<br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|<br>
  &nbsp;=======<br>
<% elsif @game.failed_letters.length == 4%>
  &nbsp;&nbsp;&nbsp;+--+<br>
  &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;|<br>
  &nbsp;&nbsp;&nbsp;O&nbsp;&nbsp;|<br>
  &nbsp;&nbsp;/|\&nbsp;|<br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|<br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|<br>
  &nbsp;=======<br>
<% elsif @game.failed_letters.length == 5%>
  &nbsp;&nbsp;&nbsp;+--+<br>
  &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;|<br>
  &nbsp;&nbsp;&nbsp;O&nbsp;&nbsp;|<br>
  &nbsp;&nbsp;/|\&nbsp;|<br>
  &nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;|<br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|<br>
  &nbsp;=======<br>
<% else %>
  &nbsp;&nbsp;&nbsp;+--+<br>
  &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;|<br>
  &nbsp;&nbsp;&nbsp;O&nbsp;&nbsp;|<br>
  &nbsp;&nbsp;/|\&nbsp;|<br>
  &nbsp;&nbsp;/&nbsp;\&nbsp;|<br>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|<br>
  &nbsp;=======<br>
<% end %>
</tt>
