<h1>
  <%= @game.status.capitalize + ' ' + @game.name %>
</h1>

<p>
<%= render 'gallows' %>
</p>

<p>
  <strong>Word:</strong>
  <%= secret_word(@game) %></td>
</p>

<p>
  <strong>Failed letters:</strong>
  <%= failed_letters(@game) %>
</p>
