<h1>Super Hangman</h1>
<p><b><%= link_to 'New game', new_game_path %></b></p>

<table>
  <tr>
    <th>Name</th>
    <th>Word</th>
    <th>Status</th>
    <th colspan="2"></th>
  </tr>

  <% @games.each do |game| %>
    <tr>
      <td><%= game.name %></td>
      <td><%= game.playing? ? game.masked_word.gsub(/\0/, "\u200A_\u200A") : game.word.upcase %></td>
      <td><%= game.status %></td>
      <td>
      <% if game.playing? %>
        <%= link_to 'Play', game_path(game) %>
      <% else %>
        <%= link_to 'Show', game_path(game) %>
      <% end %>
      </td>
      <td><%= link_to 'Clear', game_path(game), method: :delete %></td>
    </tr>
  <% end %>
</table>
