<h1>New Game</h1>
<p>Some extra game parameters might be here</p>

<%= form_for :game, url: games_path do |f| %>
  <p>
    <%= f.label :name, 'Name (you may leave it empty)' %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :word, 'Word (you may leave it empty)' %><br>
    <%= f.text_field :word %>
  </p>

  <p>
    <%= f.submit "Start Game"%>
  </p>
<% end %>

<%= link_to 'Back', games_path %>
