<%= render 'state' %>
<% if @game.playing? %>
  <p>
    <% (('a'..'z').to_a - @game.tried_letters).each do |letter| %>
      <%= link_to letter.upcase, game_letters_path(@game, 'letter' => letter), method: :post %>
    <% end %>
  </p>
<% end %>
<%= link_to 'Back', games_path %>
